h2{
    display: flex;
    justify-content: left;
    align-items: center;
    color: #D80D02;
}

table {
    width: 100%;
    font-family: 'Work Sans';
    background-color: #A38677;
    padding: 1rem;
}

thead {
    font-size: 1.5rem;
}
tfoot {
    font-size: 1.2rem;
}

/* Change background color for every other row */
tr:nth-child(even) {
    background-color: #DADADA;
}

/* On hover do this */
tr:hover {
    background-color: red;
}

#container-cart {
    padding: 1rem;
}
