/* Then do site wide styling here */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

header {
    background-color: #716055;
}

h1 {
    font-family: 'Baloo Thambi 2', sans-serif;
    color:  #DADADA;
    text-align: right;
    font-size: 3rem;
    padding: 1rem;
}

main {
    background-color: rgb(242, 237, 232);
}

.product--image {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 3px;
}

/* Credit to Geoff Graham from https://css-tricks.com/snippets/css/animated-grainy-texture/ */
.grain {
    background: url('http://api.thumbr.it/whitenoise-1920x1080.png');
    opacity: 0.3;
}
/* add a class for dark mode */